# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/

# Database & Uploads
*.db
uploads/*
!uploads/.gitkeep

# Pytest & IDE
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
.DS_Store

# Environment variables
.env
